<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark sticky-top" th:object="${user}">
    <span class="navbar-brand mb-0 h1">
        <a th:text="${user.getEmail()}" style="font-weight: bold; font-size: larger"></a>
        <span class="text-start" style="font-weight: normal; font-size: larger">with roles:
            <a th:each="role : ${user.getAuthorities()}" th:text="${role} + ' '"
               style="font-weight: normal; font-size: large"></a>
        </span>
    </span>
        <ul class="navbar-nav px-4">
            <li class="nav-item text-nowrap" style="font-weight: normal; font-size: larger">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container-fluid  bg-light">
    <div class="row">
        <div class="list-group col-2 mt-3 bg-white">
            <ul class="nav flex-sm-column">
                <a href="/admin/main" class="list-group-item active" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:hidden="${!user.isAdmin()}"
                   style="font-size: large">Admin</a>
                <a href="/user/main" class="list-group-item list-group-item-action"
                   style="font-size: large">User</a>
            </ul>
        </div>
        <div class="col-md-10 mt-2">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="users-tab" data-toggle="tab"
                            data-target="#users"
                            type="button" role="tab" aria-controls="users" aria-selected="true">
                        Users table
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="newUser-tab" data-toggle="tab"
                            data-target="#newUser"
                            type="button" role="tab" aria-controls="newUser" aria-selected="false">
                        New User
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users" role="tabpanel"
                     aria-labelledby="users-tab">
                    <div class="card">
                        <div class="card-header bg-light mb-3">
                            <p class="fw-bold h5 mt-1">All users</p>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped border-top">
                                <thead>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;font-size: large">
                                        ID
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;font-size: large">
                                        First Name
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;font-size: large">
                                        Last Name
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;font-size: large">
                                        Email
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;font-size: large">
                                        Role
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;font-size: large">
                                        Edit
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;font-size: large">
                                        Delete
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td style="text-align: center; vertical-align: middle; font-size: large"><a
                                            th:text="${user.getId()}"></a></td>
                                    <td style="text-align: center; vertical-align: middle; font-size: large"><a
                                            th:text="${user.getFirstName()}"></a></td>
                                    <td style="text-align: center; vertical-align: middle; font-size: large"><a
                                            th:text="${user.getLastName()}"></a></td>
                                    <td style="text-align: center; vertical-align: middle; font-size: large"><a
                                            th:text="${user.getEmail()}"></a></td>
                                    <td style="text-align: center; vertical-align: middle; font-size: large "><a
                                            th:each="role : ${user.getAuthorities()}" th:text="${role} + ' '"></a></td>

                                    <td style="text-align: center; vertical-align: middle; font-size: large">
                                        <div class="modal fade" tabindex="-1"
                                             th:id="${'edituser' + user.getId()}"
                                             role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form th:method="PATCH"
                                                          th:action="@{/admin/edituser?id={id}(id=${user.getId()})}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Edit User</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container col-8">
                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold"
                                                                           for="id-edit"
                                                                           class="fw-bold text-center">ID</label>
                                                                    <input type="text" id="id-edit"
                                                                           class="form-control"
                                                                           readonly
                                                                           th:name="id"
                                                                           th:value="${user.getId()}">
                                                                </div>

                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold"
                                                                           for="firstName-edit"
                                                                           class="fw-bold text-center">First
                                                                        Name</label>
                                                                    <input type="text"
                                                                           id="firstName-edit"
                                                                           class="form-control"
                                                                           th:name="firstName"
                                                                           th:value="${user.getFirstName()}">
                                                                </div>

                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold"
                                                                           for="lastName-edit"
                                                                           class="fw-bold text-center">Last Name</label>
                                                                    <input type="text"
                                                                           id="lastName-edit"
                                                                           class="form-control"
                                                                           th:name="lastName"
                                                                           th:value="${user.getLastName()}">
                                                                </div>

                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold"
                                                                           for="email-edit"
                                                                           class="fw-bold text-center">Email</label>
                                                                    <input type="email"
                                                                           id="email-edit"
                                                                           class="form-control"
                                                                           th:name="email"
                                                                           th:value="${user.getEmail()}">
                                                                </div>

                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold"
                                                                           for="password-edit"
                                                                           class="fw-bold text-center">Password</label>
                                                                    <input type="password"
                                                                           id="password-edit"
                                                                           class="form-control"
                                                                           th:name="password"
                                                                           th:value="${user.getPassword()}">
                                                                </div>

                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold;"
                                                                           for="role-edit"
                                                                           class="fw-bold text-center">Role</label>
                                                                    <select style="align-self: end"
                                                                            id="role-edit"
                                                                            class="form-select"
                                                                            multiple
                                                                            th:name="roles"
                                                                            th:size="${#sets.size(roles)}">
                                                                        <option
                                                                                th:each="role : ${roles}"
                                                                                th:text="${role.toString()}"
                                                                                th:value="${role.id}"
                                                                                th:selected="${user.roles.contains(role)}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="submit"
                                                                        class="btn btn-primary">Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-info"
                                                data-toggle="modal"
                                                th:data-target="${'#edituser' + user.getId()}">
                                            Edit
                                        </button>
                                    </td>

                                    <td style="text-align: center; vertical-align: middle; font-size: large">
                                        <div class="modal fade" tabindex="-1"
                                             th:id="${'deleteuser' + user.getId()}"
                                             role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form th:method="DELETE"
                                                          th:action="@{/admin/deleteuser?id={id}(id=${user.getId()})}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Delete user</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container col-8">
                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold"
                                                                           for="id-delete"
                                                                           class="fw-bold text-center">ID</label>
                                                                    <input type="text"
                                                                           id="id-delete"
                                                                           class="form-control"
                                                                           readonly
                                                                           th:name="id"
                                                                           th:value="${user.getId()}">
                                                                </div>

                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold"
                                                                           for="firstName-delete"
                                                                           class="fw-bold text-center">First
                                                                        Name</label>
                                                                    <input type="text"
                                                                           id="firstName-delete"
                                                                           class="form-control"
                                                                           readonly
                                                                           th:name="firstName"
                                                                           th:value="${user.getFirstName()}">
                                                                </div>

                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold"
                                                                           for="lastName-delete"
                                                                           class="fw-bold text-center">Last Name</label>
                                                                    <input type="text"
                                                                           id="lastName-delete"
                                                                           class="form-control"
                                                                           readonly
                                                                           th:name="lastName"
                                                                           th:value="${user.getLastName()}">
                                                                </div>

                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold"
                                                                           for="email-delete"
                                                                           class="fw-bold text-center">Email</label>
                                                                    <input type="email"
                                                                           id="email-delete"
                                                                           class="form-control"
                                                                           readonly
                                                                           th:name="email"
                                                                           th:value="${user.getEmail()}">
                                                                </div>

                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold;"
                                                                           for="password-delete"
                                                                           class="fw-bold text-center">Password</label>
                                                                    <input type="password"
                                                                           id="password-delete"
                                                                           class="form-control"
                                                                           readonly
                                                                           th:name="password"
                                                                           th:value="${user.getPassword()}">
                                                                </div>
                                                                <div class="row mb-4">
                                                                    <label style="font-size: larger; font-weight: bold"
                                                                           for="role-delete"
                                                                           class="fw-bold text-center">Role</label>
                                                                    <select id="role-delete"
                                                                            class="form-select"
                                                                            multiple
                                                                            th:name="roles"
                                                                            th:disabled="disabled"
                                                                            th:size="${#sets.size(roles)}">
                                                                        <option
                                                                                th:each="role : ${roles}"
                                                                                th:text="${role.toString()}"
                                                                                th:value="${role.id}"
                                                                                th:selected="${user.roles.contains(role)}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit"
                                                                    class="btn btn-danger">Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-danger"
                                                data-toggle="modal"
                                                th:data-target="${'#deleteuser' + user.getId()}">
                                            Delete
                                        </button>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="newUser" role="tabpanel"
                     aria-labelledby="newUser-tab">
                    <div class="card">
                        <div class="card-header bg-light mb-3">
                            <p class="fw-bold h5 mt-1">Add new user</p>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-4">
                                        <form class="text-center fw-bold" th:method="POST"
                                              th:action="@{/admin/savepost}"
                                              th:object="${newUser}">
                                            <div class="mb-3">
                                                <label style="font-size: larger; font-weight: bold" for="firstName"
                                                       class="form-label">First Name</label>
                                                <input name="firstName" type="text"
                                                       class="form-control" id="firstName"
                                                       th:field="*{firstName}" placeholder="First Name">
                                            </div>
                                            <div class="mb-3">
                                                <label style="font-size: larger; font-weight: bold" for="lastName"
                                                       class="form-label">Last Name</label>
                                                <input name="lastName" type="text"
                                                       class="form-control" id="lastName"
                                                       th:field="*{lastName}" placeholder="Last Name">
                                            </div>
                                            <div class="mb-3">
                                                <label style="font-size: larger; font-weight: bold" for="email"
                                                       class="form-label">Email</label>
                                                <input name="email" type="email" class="form-control"
                                                       id="email"
                                                       th:field="*{email}" placeholder="Email">
                                            </div>
                                            <div class="mb-3">
                                                <label style="font-size: larger; font-weight: bold" for="password"
                                                       class="form-label">Password</label>
                                                <input name="password" type="password"
                                                       class="form-control"
                                                       id="password" th:field="*{password}" placeholder="Password">
                                            </div>
                                            <div>
                                                <label style="font-size: larger; font-weight: bold" for="roles"
                                                       class="form-label">Role</label>
                                                <select class="form-select" name="roles" size="2"
                                                        id="roles" multiple
                                                        th:field="*{roles}">
                                                    <option th:each="role : ${roles}"
                                                            th:value="${role.id}"
                                                            th:text="${role.toString()}">Roles
                                                    </option>
                                                </select>
                                            </div>
                                            <button type="submit"
                                                    class="btn btn-primary btn-lg bg-success mt-3">
                                                Add new
                                                user
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>